{% extends 'base/base.html' %}
{% load static %}

{% block title %}List{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        {% if schedules %}
            <h4 class="my-3">Ниже представлены ваши расписания</h4>
            {% for schedule in schedules %}
                <div class="col-lg-4">
                    <div class="card mt-2 mb-4" id="schedule">
                        <div class="card-body">
                            <h5 class="card-title">
                                Расписание для {{schedule.class_name}} класса ({{schedule.school_shift}} смена)
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Школа - {{schedule.school_name}}<br>
                                Создатель - {{schedule.creator.first_name}} {{schedule.creator.last_name}}<br>
                                Создано - {{schedule.created}}
                            </h6>
                            <a href="{% url 'schedules:detail' schedule.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4 class="mt-3">У вас нет никаких расписаний...</h4>
            <a href="{% url 'schedules:create' %}" class="text-muted fs-5 text-decoration-none" style="font-weight: 500">Собираетесь создать?</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
